body{font-family:sans-serif;background-color:#222222;color:white;}
.margin-top{margin-top:100px;}
a, a:hover {color:#d2c808;}
.end-of-page{margin: 40px 0;clear: both;}

/*Home Page*/

div#home-banner-overlay{
    position: absolute;
    top:50px;
    left:0;
    width:100%;
    height:580px;
    background: black;
    opacity:0.5;
    background-attachment: fixed;
}

div#home-banner{
    background-image: url("../img/tribe1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:580px;
    width:100%;
    display: block;
    position: absolute;
    top:50px;
    left:0;
    border-bottom:2px solid rgba(0,0,0,0.8);
    -webkit-box-shadow: inset 0px -45px 70px 5px rgba(0,0,0,0.82);
    -moz-box-shadow: inset 0px -45px 70px 5px rgba(0,0,0,0.82);
    box-shadow: inset 0px -45px 70px 5px rgba(0,0,0,0.82);
}

#home-banner-content{
    position:absolute;
    top:50px;
    left:0;
    height:580px;
    width:100%;
    display:block;
    text-align: center;
}

#home-banner-content h1{
    padding-top:80px;
    font-size:60px;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#home-banner-content p{
    padding-top:30px;
    font-size:40px;
    color: #d2c808;
    text-shadow: 1px 1px black;
    position:relative;
    max-width:80%;
    text-align: center;
    margin:0 auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}



.home-info h2{min-height:66px;}
.home-info p{min-height:80px;}
.news{padding-top:520px;}

/*About Page*/

#about2{
    background-image:url(../img/tribe2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}

#about3{
    background-image:url(../img/tribe1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}

#about4{
    /*
    background-image:url(../img/tribe4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    */
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}

.about-section{padding-top:40px;padding-bottom:40px;}
.about-section h1{padding-top:20px;padding-bottom:20px;}


/*Contact Page*/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {background-image: url('../img/phone-icon.png');}
.contact-info li.mail a {background-image: url('../img/email-icon.png');}
.contact-space{min-height:400px;}
.footer-contact{clear:both;}